absl-py==1.4.0
accelerate==0.18.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
aniso8601==9.0.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.1.0
click==8.0.4
cmake==3.26.1
coloredlogs==14.0
crcmod==1.7
cryptography==40.0.1
datasets==2.8.0
decorator==4.4.2
dill==0.3.6
Distance==0.1.3
dnspython==2.3.0
easyasr==0.0.7
edit-distance==1.0.6
editdistance==0.5.2
einops==0.6.0
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
eventlet==0.33.3
ffmpeg-python==0.2.0
filelock==3.10.7
Flask==2.1.3
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==4.3.2
flask-talisman==1.0.0
frozenlist==1.3.3
fsspec==2023.3.0
funasr==0.4.0
future==0.18.3
g2p==1.0.20230228
g2p-en==2.1.0
gast==0.5.3
greenlet==2.0.2
grpcio==1.53.0
h5py==3.8.0
huggingface-hub==0.13.3
humanfriendly==10.0
HyperPyYAML==1.2.0
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.1.0
inflect==6.0.4
install==1.3.5
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonplus==0.8.0
kaldi-native-fbank==1.15
kaldiio==2.18.0
lazy_loader==0.2
librosa==0.8.1
lit==16.0.0
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe==2.1.2
modelscope==1.4.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
networkx==2.5
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.7.0.72
openpyxl==3.1.2
oss2==2.17.0
packaging==23.0
pandas==1.5.3
panphon==0.20.0
Pillow==9.4.0
pooch==1.6.0
proglog==0.1.10
protobuf==3.20.3
psutil==5.9.4
pyarrow==11.0.0
PyAudio==0.2.13
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pydub==0.25.1
pypinyin==0.44.0
python-dateutil==2.8.2
python-engineio==3.14.2
python-socketio==4.6.1
pytorch-wpe==0.0.1
pytz==2023.3
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
resampy==0.4.2
responses==0.18.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.97
simplejson==3.19.1
six==1.16.0
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.3.4
speechbrain==0.5.14
srt==3.5.3
sympy==1.11.1
tensorboard==1.15.0
text-unidecode==1.3
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==2.0.0
torch-complex==0.4.3
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.3
triton==2.0.0
typeguard==2.13.3
typing_extensions==4.5.0
unicodecsv==0.14.1
Unidecode==1.3.6
urllib3==1.26.15
Werkzeug==2.0.3
xxhash==3.2.0
yapf==0.32.0
yarl==1.8.2
zipp==3.15.0
